<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="css">
    <link rel="apple-touch-icon" th:href="@{/lib/images/logo2.png}">
    <link rel="shortcut icon" th:href="@{/lib/images/logo2.png}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/lib/css/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/lib/bower_components/bootstrap4.1/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/lib/bower_components/font-awesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/lib/bower_components/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/lib/css/pe-icon-7-stroke.min.css}">
    <link rel="stylesheet" th:href="@{/lib/bower_components/flag-icon-css-master/css/flag-icon.css}">
    <link rel="stylesheet" th:href="@{/lib/assets/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/lib/assets/css/lib/datatable/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/lib/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/lib/bower_components/sweetalert2/dist/sweetalert2.css}">
    <style>
        body {
            font-family: 'Inter', sans-serif !important;
            background-color: #f3f4f6 !important;
        }

        .navbar .navbar-nav li>a {
            color: #4b5563;
        }

        .card {
            border: none !important;
            border-radius: 12px !important;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
        }
    </style>
</head>

<body>

</body>

</html>